MIDNIGHT_NETWORK=preprod
MIDNIGHT_NETWORK_ID=preprod
MIDNIGHT_INDEXER_HTTP_URL=https://indexer.preprod.midnight.network/api/v4/graphql
MIDNIGHT_PROVING_SERVER_URL=https://lace-proof-pub.preprod.midnight.network
CONTRACT_ADDRESS=
OPENAI_API_KEY=